%GothamBookRegular{
	font-family: "Gotham Book Regular", sans-serif;
	font-weight: 400;
}

%GothamMediumRegular{
	font-family: "Gotham Medium Regular", sans-serif;
	font-weight: 400;
}

%GothamBoldRegular{
	font-family: "Gotham Bold Regular", sans-serif;
	font-weight: 400;
}

%RobotoCondensedRegular{
	font-family: "Roboto Condensed Regular", sans-serif;
	font-weight: 400;
}

%RobotoRegular{
	font-family: "Roboto Regular", sans-serif;
	font-weight: 400;
}

%RobotoMedium{
	font-family: "Roboto Medium", sans-serif;
	font-weight: 500;
}
